.jumbotron {
  background-color: lightblue;
  color: white;
  margin-top: 50px;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: lightblue;
  margin-bottom: 0px;
  margin-top: 20px;
}

.footer-address-icon {
  padding-right: 10px;
}

.card-hotel {
  flex: 1 200px; /*1: cuanto se podra modificar, 150px: ancho de columna*/
  margin-top: 10px;
}

.btn-reserva {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 0;
}

.banner {
  height: 300px;
  min-height: 500px;
  background-image: url('../images/hotelBanner.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
}
